{% extends 'mainform.html' %}
{% block content %}


<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
          <h1 class="my-4 text-5xl font-bold leading-tight">
           Are You Sure ? 
          </h1>
<span id="animated_div"> 🗑️ </span>

<p class=" tracking-loose w-full">You want to delete the Blog : 
<br><span class="text-3xl">{{Blog.title}}</span></p><br>


<form method="POST">
	<a href="{% url 'login' %}">
	<button class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"  type="submit">
           Yes, I'm sure
          </button></a>&nbsp;&nbsp;
  <a href="{% url 'myblogs' %}">Cancel</a>
  </form>      

</div>
<!--Right Col-->
        <div class="w-full md:w-3/5 my-32 py-6 text-center">
          {% load static %}
          <img class="w-full md:w-4/5 z-50" src="{% static 'images/sitting.png' %}" />
          
        </div>
       </div>

{% endblock %}