{% extends 'mainform.html' %}
{% block content %}

<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
          <h1 class="my-4 text-5xl font-bold leading-tight">
             Forgot Password ? 
          </h1>


<p class=" tracking-loose w-full">No worries! Enter your email address below, and we’ll email the instructions for setting a new one.</p><br>


<form method="post">

	{% csrf_token %}
	
	<div class="wrapper  leading-normal text-2xl mb-8 ">
		{{form.email.label}}:
	<span class="flex-1 appearance-none  shadow  text-gray-600  focus:outline-none text-gray-800">{{form.email}}</span>

</div>
	<button class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" type="submit" value="">
            Submit
          </button>
          <a href="{% url 'home' %}" class="ml-2">Cancel</a>
	
</form>
</div>
<!--Right Col-->
        <div class="w-full md:w-3/5 my-32 py-6 text-center">
          {% load static %}
          <img class="w-full md:w-4/5 z-50" src="{% static 'images/sitting.png' %}" />
          
        </div>
       </div>

{% endblock %}